@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .primary-bg-color{
        @apply bg-slate-950;
    }
    .primary-text-color{
        @apply text-white;
    }
    .primary-border-color{
        @apply border-white;
    }
    
    .secondary-bg-color{
        @apply bg-white;
    }
    .secondary-text-color{
        @apply text-slate-950;
    }
    .secondary-border-color{
        @apply border-slate-950;
    }
}

@keyframes spin-slow{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.animate-spin-slow{
    animation: spin-slow 5s linear infinite;
}